<div class="view about">
    <div class="header-container about">
        <div class="header-title-wrap">
            <div class="cover"></div>
            <h1 class="header big first">about</h1>
            <h1 class="header big last">me</h1>
        </div>
        <div class="header-info-wrap">
            <div class="header-content-body about-one">
                <div class="line-left"></div>
                <p class="header body about-one">Hi, my name is Dejan. I am a 32-year-old <strong> Full-Stack
                        Developer</strong>. Both as a developer and in my everyday life, I strive for
                    <strong>efficiency</strong>. I have serious <strong>passion </strong>for UI effects, animations and
                    creating intuitive and <strong>dynamic </strong>user experiences.
                    Further improving my knowledge in this field and adapting to new technologies
                    never overwhelms me, yet presents an inexhaustible source of enjoyment.
                </p>
            </div>
            <div class="header-content-body gap about-two">
                <div class="line-left"></div>
                <p class="header body gap about-two">I’ve always been a tech enthusiast, and since I got my first
                    Pentium III
                    at the age of 12 in early <strong>2003</strong>, I've been curious about anything related to
                    computers.
                    My journey as a programmer began somewhere in <strong>2010 </strong>when I became a developer on a
                    World of Warcraft private server.
                    My duties included improving game scripts and controlling the database.
                    This enabled me to get a fairly solid understanding of <strong>C++ </strong>and <strong>SQL
                    </strong>. </p>
            </div>
            <div class="header-content-body gap about-three">
                <div class="line-left"></div>
                <p class="header body gap about-three">In time the WoW community moved on and I started looking for
                    another
                    platform on which I could express my creative ideas.
                    I dabbled in several programming languages like <strong>Python </strong>and <strong>Lua </strong>for
                    some time but eventually got around to learning <strong>Javascript </strong>and the whole palette of
                    front-end technologies. </p>
            </div>
            <div class="header-content-body gap about-four">
                <div class="line-left"></div>
                <p class="header body gap about-four">Other than web development, I’m also passionate about <strong>C#
                    </strong>and game development in the <strong>Unity Engine </strong>.
                    When I'm not coding, drawing vectors or pushing pixels,
                    you'll find me playing guitar and singing or competitively
                    playing online video games.</p>
            </div>
        </div>
    </div>
</div>