.view.about
    .header-container.about
        .header-title-wrap
            .cover
            h1(class='header big first') My
            h1(class='header big last') education
        .header-info-wrap
            .header-content-body.about-one
                .line-left
                p(class='header body about-one')
                    | The achievement I am the most proud of is getting certification in 
                    br 
                    a(href="https://academy.microsoft.com/en-us/certificates/18f54fd6-ecad-454f-a057-7e6f58e50cf0/" target="_blank")  Microsoft Professional Program in Front-End Web Development 
                    |  which has provided me hands-on experience that was necessary for me to succeed in different fields from 
                    strong HTML
                    | , 
                    strong CSS  
                    | and 
                    strong Javascript 
                    | to 
                    strong Angular
                    | , 
                    strong React  
                    | and 
                    strong Redux   
                    | followed by 
                    strong Bootstrap 
                    | , 
                    strong jQuery  
                    | and 
                    strong Azure Toolkit
                    | .
                    | This helped me see a whole new world that I never knew existed.
            .header-content-body.gap.about-two
                .line-left
                p(class='header body gap about-two')
                    | With my next 
                    a(href="https://credentials.edx.org/credentials/1a304c64f33d4d83b0a3279c7089b97e/" target="_blank") Professional certification 
                    | designed by the 
                    strong W3C 
                    | (World Wide Web Consortium), creator of the Web standards, 
                    | I've learnt all the necessary skills needed to build interactive and responsive user experiences on the Web.
                    | It was an amazing journey because I dabbled with audio and video tags, Web storages and various 
                    strong HTML5 
                    | APIs.
            .header-content-body.gap.about-three
                .line-left
                p(class='header body gap about-three')
                    strong CS50 
                    | course (by Hardvard University) was one my first foray into the realm of learning to program. For this course I can only say it's a cultural touchstone, a spectacle.
                    | It is pretty hard to describe this course without sounding hyperbolic. It helped me understand about 
                    strong C 
                    | programming language. 
            .header-content-body.gap.about-four
                .line-left
                p(class='header body gap about-four')
                    | With professional certificate in 
                    a(href="https://courses.edx.org/certificates/0168677246144175af5a093108a62e13" target="_blank") Computer Science and Mobile Apps 
                    | I've become more comfortable with paradigms, app architecture, and user interfaces of 
                    strong JSX 
                    | and 
                    strong React Native
                    | .  This has inspired me to strengthen my grasp of the mobile app development.       
            