<div class="view about">
    <div class="header-container about">
        <div class="header-title-wrap">
            <div class="cover"></div>
            <h1 class="header big first">My</h1>
            <h1 class="header big last">education</h1>
        </div>
        <div class="header-info-wrap">
            <div class="header-content-body about-one">
                <div class="line-left"></div>
                <p class="header body about-one">One of my proudest achievements is obtaining a certificate in
                    <br /><a
                        href="https://courses.edx.org/certificates/4714e30050bc46b5988a9265f2768f12?_gl=1*8638vc*_ga*MTA4NTA3ODA3Ni4xNjc5NTg5NDAz*_ga_D3KS4KMDT0*MTY4Mzc1NjY2OS4zLjEuMTY4Mzc1NjcwNy4wLjAuMA.."
                        target="_blank"> MISANU Java Programming Course</a>. This course provided comprehensive
                    knowledge and skills in <strong>Java</strong>, covering basics to advanced concepts. We delved into
                    algorithm theory, data structures, object-oriented programming, databases, and concurrent
                    programming, equipping me for success in various applications.
                </p>
            </div>
            <div class="header-content-body gap about-two">
                <div class="line-left"></div>
                <p class="header body gap about-two">
                    Another significant achievement I am proud of is completing the <a
                        href="https://courses.edx.org/certificates/6f857f29730c46fa9af3d53efe8b5572?_gl=1*8638vc*_ga*MTA4NTA3ODA3Ni4xNjc5NTg5NDAz*_ga_D3KS4KMDT0*MTY4Mzc1NjY2OS4zLjEuMTY4Mzc1NjcwNy4wLjAuMA.."
                        target="_blank">
                        Microsoft Professional Program in Front-End Web
                        Development
                    </a> which has provided me hands-on experience that was necessary for me to succeed in different
                    fields from
                    <strong>HTML</strong>, <strong>CSS </strong>and <strong>Javascript </strong>to
                    <strong>Angular</strong>, <strong>React </strong>and <strong>Redux </strong>followed by
                    <strong>Bootstrap </strong>, <strong>jQuery </strong>and <strong>Azure Toolkit</strong>.
                    This helped me see a whole new world that I never knew existed.
                </p>
            </div>
            <div class="header-content-body gap about-three">
                <div class="line-left"></div>
                <p class="header body gap about-three">
                    Professional certification </a>designed by the <a
                        href="https://credentials.edx.org/credentials/1a304c64f33d4d83b0a3279c7089b97e/"
                        target="_blank">
                        <strong>W3C </strong>
                    </a>(World Wide
                    Web Consortium), creator of the Web standards,
                    I've learnt all the necessary skills needed to build interactive and responsive user experiences on
                    the Web.
                    It was an amazing journey because I dabbled with audio and video tags, Web storages and various
                    <strong>HTML5 </strong>APIs.
                </p>
            </div>
            <div class="header-content-body gap about-four">
                <div class="line-left"></div>
                <p class="header body gap about-four">With professional certificate in <a
                        href="https://courses.edx.org/certificates/4fd77301c7e24b5f86993b06e18107b5?_gl=1*1n3twd8*_ga*MTA4NTA3ODA3Ni4xNjc5NTg5NDAz*_ga_D3KS4KMDT0*MTY4Mzc1NjY2OS4zLjEuMTY4Mzc1NjcwNy4wLjAuMA.."
                        target="_blank">
                        <strong>CS50 </strong></a>course (by Hardvard University) was one my
                    first foray into the realm of learning to program. For this course I can only say it's a
                    cultural
                    touchstone, a spectacle.
                    It is pretty hard to describe this course without sounding hyperbolic. It helped me understand
                    about
                    <strong>C </strong>programming language.
                </p>
            </div>
        </div>
    </div>
</div>