.work-wrapper.ng-cloak
    .work-container
        .work-list
            a.work-panel.timer(itemscope itemtype="http://schema.org/CreativeWork" style='background-image: url("../images/BgItTrends.jpg")' href='https://belgrade-it-trends.netlify.com')
                .work-panel-slider
                .work-panel-cover
                .work-panel-mask
                .work-panel-header
                    h1 Belgrade IT Trends
                    h2 Monitoring the top job demands in IT sphere.
                    span Check it out
            a.work-panel.fable(itemscope itemtype="http://schema.org/CreativeWork" style='background-image: url("../images/smart-contacts.jpg")' href="https://smart-contacts.herokuapp.com")
                .work-panel-slider
                .work-panel-cover
                .work-panel-mask
                .work-panel-header
                    h1 Smart Contacts
                    h2 Contacts organizer
                    span Alpha Stage
            a.work-panel.cherry.development(itemscope itemtype="http://schema.org/CreativeWork" style='background-image: url("../images/rebels.jpg")')
                .work-panel-slider
                .work-panel-cover
                .work-panel-mask
                .work-panel-header
                    h1 Rebels of Today
                    h2 2D arena fighting game (PC & Android)
                    span In development
            
            