<div class="work-wrapper ng-cloak">
    <div class="work-container">
        <div class="work-list"><a class="work-panel timer" itemscope="itemscope"
                itemtype="http://schema.org/CreativeWork"
                style="background-image: url(&quot;../images/BgItTrends.jpg&quot;)"
                href="https://belgrade-it-trends.netlify.com">
                <div class="work-panel-slider"></div>
                <div class="work-panel-cover"></div>
                <div class="work-panel-mask"></div>
                <div class="work-panel-header">
                    <h1>Belgrade IT Trends</h1>
                    <h2>Monitoring the top job demands in IT sphere.</h2><span>Check it out</span>
                </div>
            </a><a class="work-panel fable" itemscope="itemscope" itemtype="http://schema.org/CreativeWork"
                style="background-image: url(&quot;../images/smart-contacts.jpg&quot;)"
                href="https://smart-contacts.herokuapp.com">
                <div class="work-panel-slider"></div>
                <div class="work-panel-cover"></div>
                <div class="work-panel-mask"></div>
                <div class="work-panel-header">
                    <h1>Smart Contacts</h1>
                    <h2>Contacts organizer</h2><span>Alpha Stage</span>
                </div>
            </a><a class="work-panel cherry" itemscope="itemscope" itemtype="http://schema.org/CreativeWork"
                style="background-image: url(&quot;../images/misanu.jpg&quot;)"
                href="https://dexypro.github.io/Misanu/">
                <div class="work-panel-slider"></div>
                <div class="work-panel-cover"></div>
                <div class="work-panel-mask"></div>
                <div class="work-panel-header">
                    <h1>Misanu</h1>
                    <h2>Comprehensive, hands-on, advanced.</span>
                </div>
            </a></div>
    </div>
</div>